<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>dwitter</title>
    <meta name="description" content="">
    <meta name="author" content="enjoydjango.com">

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        h1{
            margin-bottom:20px;
        }
        blockquote p {
          font-size:50px;
          line-height:50px;
          text-align:;
        }
        blockquote small {
          font-size:20px;
          line-height:20px;
          margin-top:5px;
        }
        .tweets{
            margin:0px;
            list-style-type: none;
        }
        .tweets strong{
            display: block;
        }
        .tweets em{
            font-style:italic;
        }
        .tweets li{
            border-bottom:1px dotted #ddd;
            margin-bottom:10px;
            padding-bottom:10px;
        }
        .container textarea{
            width:100%;
            height:100px;
        }
    </style>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">dwitter</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Timeline</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="span8">
            {% block content %}{% endblock %}
        </div>
        <div class="span4">
            {% block sidebar %}{% endblock %}
            <hr/>
            <h4>Welcome to dwitter!</h4>
            <p>This is an opensource didactic project for learning <a href="https://www.djangoproject.com/">Django</a> step-by-step.</p>
            <h5>Resources</h5>
            <ul>
              <li><a href="https://github.com/enjoydjango/dwitter">Github Repository</a></li>
              <li><a href="https://docs.djangoproject.com/en/1.4/">Django 1.4 docs</a></li>
              <li><a href="http://rogerdudler.github.com/git-guide/">Git - the simple guide</a></li>
            </ul>

            <h5>Solutions</h5>
            <ul>
              <li>Step #1 - views (<a href='https://github.com/enjoydjango/dwitter/compare/step-00-startproject...step-01-views'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-01-views'>targz</a>)</li>
              <li>Step #2 - templates (<a href='https://github.com/enjoydjango/dwitter/compare/step-01-views...step-02-templates'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-02-templates'>targz</a>)</li>
              <li>Step #3 - tags (<a href='https://github.com/enjoydjango/dwitter/compare/step-02-templates...step-03-tags'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-03-tags'>targz</a>)</li>
              <li>Step #4 - filters (<a href='https://github.com/enjoydjango/dwitter/compare/step-03-tags...step-04-filters'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-04-filters'>targz</a>)</li>
              <li>Step #5 - inheritance (<a href='https://github.com/enjoydjango/dwitter/compare/step-04-filters...step-05-inheritance'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-05-inheritance'>targz</a>)</li>
              <li>Step #6 - models (<a href='https://github.com/enjoydjango/dwitter/compare/step-05-inheritance...step-06-models'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-06-models'>targz</a>)</li>
              <li>Step #7 - database (<a href='https://github.com/enjoydjango/dwitter/compare/step-06-models...step-07-database'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-07-database'>targz</a>)</li>
              <li>Step #8 - tweetpage (<a href='https://github.com/enjoydjango/dwitter/compare/step-07-database...step-08-tweetpage'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-08-tweetpage'>targz</a>)</li>
              <li>Step #9 - profile (<a href='https://github.com/enjoydjango/dwitter/compare/step-08-tweetpage...step-09-profile'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-09-profile'>targz</a>)</li>
              <li>Step #10 - followers (<a href='https://github.com/enjoydjango/dwitter/compare/step-09-profile...step-10-followers'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-10-followers'>targz</a>)</li>
              <li>Step #11 - admin (<a href='https://github.com/enjoydjango/dwitter/compare/step-10-followers...step-11-admin'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-11-admin'>targz</a>)</li>
              <li>Step #12 - userpage (<a href='https://github.com/enjoydjango/dwitter/compare/step-11-admin...step-12-userpage'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-12-userpage'>targz</a>)</li>
              <li>Step #13 - reverse (<a href='https://github.com/enjoydjango/dwitter/compare/step-12-userpage...step-13-reverse'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-13-reverse'>targz</a>)</li>
              <li>Step #14 - forms (<a href='https://github.com/enjoydjango/dwitter/compare/step-13-reverse...step-14-forms'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-14-forms'>targz</a>)</li>
              <li>Step #15 - userslist (<a href='https://github.com/enjoydjango/dwitter/compare/step-14-forms...step-15-userslist'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-15-userslist'>targz</a>)</li>
              <li>Step #16 - login (<a href='https://github.com/enjoydjango/dwitter/compare/step-15-userslist...step-16-login'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-16-login'>targz</a>)</li>
              <li>Step #17 - contextprocessors (<a href='https://github.com/enjoydjango/dwitter/compare/step-16-login...step-17-contextprocessors'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-17-contextprocessors'>targz</a>)</li>
              <li>Step #18 - customfilter (<a href='https://github.com/enjoydjango/dwitter/compare/step-17-contextprocessors...step-18-customfilter'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-18-customfilter'>targz</a>)</li>
              <li>Step #19 - customtag (<a href='https://github.com/enjoydjango/dwitter/compare/step-18-customfilter...step-19-customtag'>diff</a> | <a href='https://github.com/enjoydjango/dwitter/zipball/step-19-customtag'>targz</a>)</li>
            </ul>
       </div>
      </div>

      <hr>

      <footer>
        <p>dwitter from <a href="http://enjoydjango.com">enjoydjango.com</a></p>
      </footer>

    </div>

  </body>
</html>
